.features {
  padding: 120px 0;
  background-color: #fff;
}
.features-list {
}
.features-item {
}
.features-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.features-desc {
  letter-spacing: 0.02em;

}
