.team {
  padding: 120px 0;
  background: #f4f4fd;
}
.team-title {
}

.team-list {}
  
.team-item {
  background-color: #fff;
}
.team-ill {
}
.team-caption {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}
.team-desc {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #434455;
}
